:root {
    --bg-primary: #262733;
    --bg-secondary: #F4EEE0;
    --bg-navbar: #0B60B0;
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.bg-navbar {
    background-color: var(--bg-navbar);
}