/* ==== BORDER ==== */

.b-primary {
    border: 2px solid white;
}

.b-secondary {
    border: 2px solid black;
}

/* ==== BORDER DIRECTIONS ==== */

.b-primary-left {
    border-left: 2px solid white;
}

.b-primary-top {
    border-top: 2px solid white;
}

.b-primary-right {
    border-right: 2px solid white;
}

.b-primary-bottom {
    border-bottom: 2px solid white;
}