@import url(background.css);
@import url(border.css);

@import url(margin.css);
@import url(padding.css);

@import url(buttons.css);
@import url(div.css);
@import url(font.css);

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}